*{
	background-color: black;
}
.container1{
	width: 400px;
	height: auto;
}
#div1{
	height: 50px;
	width: auto;
}
#div2{
	height: 50px;
	width: auto;
}
#div3{
	height: 50px;
	width: auto;
}
#div4{
	height: 50px;
	width: auto;
}
#div5{
	height: 50px;
	width: auto;
}
#div6{
	height: 50px;
	width: auto;
}
#div7{
	height: 50px;
	width: auto;
}