*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* colors cookiemonster*/
    --cookie-monster-blue: #0f98dc;
    --cookie-monster-black: #000;
    --cookie-monster-white: #fff;
    /* colors cookie */
    --cookie-black: #000;
    --cookie-default-background: #ebbd5b;
    --cookie-spot-color: #000;
    --cookie-chocolate-color: #402218;
    --cookie-red-color: #aa2b1d;
    --cookie-spot-chocolate-color: #865439;
    --cookie-spot-red-color: #da723c;
    /* transforms */
    --original-scale: scale(0.75);
    --mobile-scale: scale(0.3);
    --mouth-circle-rotation: rotate(10deg);
    /* positions */
    --mouth-circle-left-position: 16%;
    /* shadows */
    --eye-shadow-inner: inset 0 0 4rem 0 rgba(0, 0, 0, 0.4);
}
html {
    font-size: 62.5%;
}

body {
    min-height: 100vh;
    background: var(--cookie-monster-blue);
    max-width: 100vw;
}

main {
    min-height: inherit;
}

.cookiemonster {
    min-width: 100rem;
    height: 100rem;
    position: relative;
    background: var(--cookie-monster-blue);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) var(--original-scale);
}

.cookiemonster__eye {
    height: 30rem;
    width: 30rem;
    position: absolute;
    top: 30%;
    background: var(--cookie-monster-black);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background: var(--cookie-monster-white);
    border: 0.7rem solid var(--cookie-monster-black);
    z-index: 1;
    box-shadow: var(--eye-shadow-inner);
    overflow: hidden;
}

/*eyelid*/
.cookiemonster__eye::after {
    content: "";
    height: 100%;
    width: 100%;
    background: var(--cookie-monster-blue);
    position: absolute;
    top: 0%;
    left: 0%;
    /* animation */
    animation-name: wakeUp;
    animation-duration: 0.2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    transform-origin: top;
}

.cookiemonster__eye--left {
    left: 35%;
}

.cookiemonster__eye--right {
    left: calc(35% + 30rem);
}

.cookiemonster__innerEye {
    position: absolute;
    transform: translate(-50%, -50%);
    background: var(--cookie-monster-black);
    width: 40%;
    height: 40%;
    border-radius: 50%;
}

.cookiemonster__eye--left > .cookiemonster__innerEye {
    left: 70%;
    top: 60%;
}

.cookiemonster__eye--right > .cookiemonster__innerEye {
    left: 34%;
    top: 40%;
}

.cookiemonster__mouth {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60rem;
    height: 60rem;
    background: var(--cookie-monster-black);
    border-radius: 50%;
    -webkit-clip-path: polygon(0% 50%, 100% 50%, 100% 100%, 0% 100%);
    clip-path: polygon(0% 50%, 100% 50%, 100% 100%, 0% 100%);
}

.a-eat {
    animation-name: eat;
    animation-duration: 0.4s;
    animation-fill-mode: ease;
    animation-iteration-count: 3;
    transform-origin: top center;
    animation-direction: alternate;
    animation-fill-mode: backwards;
}

@keyframes eat {
    from {
        transform: translate(-50%, -50%) scaleY(0.2);
    }
    to {
        transform: translate(-50%, -50%) scaleY(1);
    }
}

.cookiemonster__mouthCircle {
    position: absolute;
    height: 30rem;
    width: 20rem;
    background: var(--cookie-monster-blue);
    top: 30%;
    left: var(--mouth-circle-left-position);
    border-radius: 50%;
    transform: var(--mouth-circle-rotation);
}

.cookiemonster__mouthCircle--second {
    left: calc(var(--mouth-circle-left-position) + 10rem);
}

.cookiemonster__mouthCircle--third {
    left: calc(var(--mouth-circle-left-position) + 20rem);
}

.cookiemonster__mouthCircle--fourth {
    left: calc(var(--mouth-circle-left-position) + 30rem);
}

.cookiemonster__mouthCircle--fifth {
    left: calc(var(--mouth-circle-left-position) + 40rem);
}

.cookiemonster__mouthCircle--sixth {
    left: calc(var(--mouth-circle-left-position) + 50rem);
}

.cookiemonster__mouthEnd {
    position: absolute;
    height: 25rem;
    width: 25rem;
    border: 1rem solid transparent;
    border-radius: 50%;
    border-bottom: 1rem solid var(--cookie-monster-black);
    top: 36%;
    z-index: 1;
}

.cookiemonster__mouthEnd--left {
    left: 10%;
    transform: rotate(35deg);
}

.cookiemonster__mouthEnd--left::after {
    content: "";
    width: 70%;
    height: 60%;
    border-radius: 50%;
    position: absolute;
    border: 1rem solid transparent;
    border-bottom: 1rem solid var(--cookie-monster-black);
    transform: rotate(125deg);
    top: 70%;
}

.cookiemonster__mouthEnd--right::after {
    content: "";
    width: 70%;
    height: 60%;
    border-radius: 50%;
    position: absolute;
    border: 1rem solid transparent;
    border-bottom: 1rem solid var(--cookie-monster-black);
    bottom: -29%;
    left: 30%;
    transform: rotate(-125deg);
}

.cookiemonster__mouthEnd--right {
    right: 10%;
    transform: rotate(-35deg);
}

.cookie {
    height: 20rem;
    width: 20rem;
    background: var(--cookie-default-background);
    border-radius: 50%;
    border: 0.5rem solid var(--cookie-black);
    position: absolute;
    overflow: hidden;
    transform: translate(-50%, -50%);
}

.cookie--chocolate {
    background: var(--cookie-chocolate-color);
    border-radius: 45%;
}

.cookie--red {
    background: var(--cookie-red-color);
}

.cookie--first {
    bottom: 10%;
    right: 10%;
}

.cookie--second {
    bottom: 10%;
    left: 20%;
}

.cookie--third {
    top: 15%;
    right: 10%;
}

.cookie--fourth {
    top: 20%;
    left: 10%;
}

.cookie--fifth {
    bottom: 0%;
    left: 10%;
}

.cookie:hover {
    cursor: pointer;
}

.cookie__spot {
    position: absolute;
    width: 20%;
    height: 20%;
    border-radius: 50%;
    background: var(--cookie-spot-color);
}

.cookie--chocolate > .cookie__spot {
    background: var(--cookie-spot-chocolate-color);
    border-radius: 0.5rem;
}

.cookie--red > .cookie__spot {
    background: var(--cookie-spot-red-color);
    border-radius: 0%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
}
.cookie__spot--first {
    top: 25%;
    left: 20%;
}

.cookie__spot--second {
    top: 30%;
    right: 20%;
}
.cookie__spot--third {
    bottom: 15%;
    right: 50%;
}

.cookie__spot--fourth {
    bottom: 10%;
    right: 5%;
}

.cookie--red > .cookie__spot--fourth {
    bottom: 15%;
    right: 15%;
}

/* eaten stages */
.cookie--eaten--1 {
    transform: translate(-50%, -50%) scale(0);
    transition: 0.3s;
}

/* Utility classes */
.u-no-overflow {
    overflow: hidden;
}

/* Media queries , 75 rem === 1200px */
@media screen and (max-width: 75rem) {
    .cookie {
        display: none;
    }

    .cookiemonster__eye::after {
        animation-delay: 0.8s;
    }
}

/* Keyframes */
@keyframes wakeUp {
    from {
        top: 0%;
    }
    to {
        top: -100%;
    }
}
