*{
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background:linear-gradient(to left ,#35BDD0,#1B98F5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background: rgba(205, 231, 236, 0.169);
    width: 80%;
border-radius: 23px;
padding: 30px 30px;
margin-top: 120px;
box-shadow: rgba(41, 12, 104, 0.264) 15px 15px 30px;

}
.heading h1{
    text-align: center;
    font-size: 35px;
}
.textarea{
    margin-top:15px;
    width: 97%;
    height: 50%;
    font-size: 20px;
    padding: 20px 20px;
    background-color: rgb(221, 235, 238);
}
.info{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    padding: 10px 10px;
}
.total{
    display: flex;
    align-items: center;
}
.remaining{
    display: flex;
    align-items: center;
}
.count{
    margin-top: 5px;
    font-size: 35px;
color: green;
}
.limit{
    margin-top: 5px;
    font-size: 35px;
color: red;   
}
