.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

.btn-refresh {
  background: grey;
  background-image: -webkit-linear-gradient(top, black, grey);
  background-image: -moz-linear-gradient(top, black, grey);
  background-image: -ms-linear-gradient(top, black, grey);
  background-image: -o-linear-gradient(top, black, grey);
  background-image: linear-gradient(to bottom, black, grey);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin: 1rem;
}

.btn-refresh:hover {
  background: grey;
  background-image: -webkit-linear-gradient(top, grey, black);
  background-image: -moz-linear-gradient(top, grey, black);
  background-image: -ms-linear-gradient(top, grey, black);
  background-image: -o-linear-gradient(top, grey, black);
  background-image: linear-gradient(to bottom, grey, black);
  text-decoration: none;
}