@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    --neonColor: #7cff01;
}

/* can use the following colors :
       #ff1178
       #fff205
       #01fff4
       #fe0000
       #7cff01
*/

body{
    background-color: rgb(31, 31, 31);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Nunito', sans-serif;
}

.btn{
    width: 10rem;
    height: 4rem;
    font-size: large;
    font-weight: 100;
    cursor: pointer;
    background-color: transparent;
    color: white;
    border: 1.5px solid white;
    position: relative;
}
.btn::before{
    content: "qit";
    color: var(--neonColor);
    background-color: var(--neonColor);
    border: 2px solid var(--neonColor);
    position: absolute;
    top: -20px;
    left: -18px;
}
.btn::after{
    content: "qit";
    color: transparent;
    background-color: transparent;
    border: 2px solid var(--neonColor);
    position: absolute;
    bottom: -20px;
    right: -18px;
}

.btn:hover{
    transition: .5s ease-in-out;
    box-shadow: 0 0 20px 5px var(--neonColor),
               inset 0 0 15px 2px var(--neonColor);
    color: var(--neonColor);
    scale: 1.3;
}
.btn:hover::before{
    transition: .65s all;
    content: "qit";
    translate: 170px;
    color: transparent;
    background-color: transparent;
    border: 2px solid var(--neonColor);
    rotate: 45deg;
    box-shadow: 0 0 15px 1px var(--neonColor);
}
.btn:hover::after{
    transition: .65s all;
    content: "qit";
    translate: -170px;
    color: var(--neonColor);
    background-color: var(--neonColor);
    border: 2px solid var(--neonColor);
    rotate: -45deg;
}