*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #091921;
}
body::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#ff0000, #0400f7);
    clip-path: circle(22% at 30% 20%);
}
body::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#ff0000, #0400f7);
    clip-path: circle(20% at 70% 90%);
}
.circle::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#00f715, #848ada);
    clip-path: circle(10% at 65% 10%);
}
.circle::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#ff0000, #ff7300);
    clip-path: circle(10% at 35% 85%);
}
.container{
    position: relative;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 6px;
    overflow: hidden;
    z-index: 10;
    border-top: 1px solid rgba(255, 255, 255, 0.02);
    border-left: 1px solid rgba(255, 255, 255, 0.02);
    box-shadow: 5px 5px 30px rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
}
.container .calculator{
    position: relative;
    display: grid;
}
.container .calculator .value{
    grid-column: span 4;
    cursor: pointer;
    width: 300px;
    height: 140px;
    padding: 10px;
    color: white;
    background: transparent;
    border: none;
    outline: none;
    font-size: 30px;
    text-align: right;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    border-right: 1px solid rgba(255, 255, 255, 0.05);
}
.container .calculator span{
    display: grid;
    width: 75px;
    height: 75px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 100;
    font-family: LEMON MILK Light;
    color: white;
    place-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    border-right: 1px solid rgba(255, 255, 255, 0.05);
    transition: 0.5s;
}
.container .calculator span:hover{
    transition: 0s;
    background: rgba(255, 255, 255, 0.05);
}
.container .calculator .clear{
    grid-column: span 2;
    width: 150px;
    background: rgba(255, 255, 255, 0.05);
}
.container .calculator .plus{
    grid-row: span 2;
    height: 150px;
    background: rgba(255, 255, 255, 0.05);
}
.container .calculator .sym-color:active{
    background-color: rgb(211, 63, 63);
    color: black;
    font-size: 25px;
    transition: 0.2s;
}
.container .calculator .clear:active{
    background-color: gold;
    color: black;
    font-size: 25px;
    transition: 0.2s;
}
.container .calculator .num-color:active{
    background-color: tomato;
    color: black;
    font-size: 25px;
    transition: 0.2s;
}
