* {
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: black;
  }
  
  body, .quote-input {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .container {
    background-color: #e9cc0f;
    padding: 1rem;
    border-radius: .5rem;
    width: 700px;
    max-width: 90%;
  }
  
  .timer {
    position: absolute;
    top: 2rem;
    font-size: 3rem;
    color: #F0DB4F;
    font-weight: bold;
  }
  
  .quote-display {
    margin-bottom: 1rem;
    margin-left: calc(1rem + 2px);
    margin-right: calc(1rem + 2px);
  }
  
  .quote-input {
    background-color: transparent;
    border: 2px solid #A1922E;
    outline: none;
    width: 100%;
    height: 8rem;
    margin: auto;
    resize: none;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .5rem;
  }
  
  .quote-input:focus {
    border-color: black;
  }
  
  .correct {
    color: green;
  }
  
  .incorrect {
    color: red;
    text-decoration: underline;
  }