* {
    box-sizing: border-box;
}

.showcase{
    height: 51.5rem;
    width: 50%;
    background-color: rgb(206, 142, 63);
    float: left;
    display: flex;
    justify-content: center;
}
.material{
    height: 51.5rem;
    width: 50%;
    background-color: bisque;
    float: right;
    justify-content: space-around;
    align-items: center;
    padding-left: 3rem;
    display: flex;
}

.watch{
    height: 10rem;
    width: 7rem;
    background-color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.one{
    margin-top: 7.25rem;
    border-radius: 15px 15px 0px 0px;
}
.two{
    margin-top: 34.25rem;
    border-radius: 0px 0px 15px 15px;
}
.watch2{
    height: 17rem;
    width: 14rem;
    border-radius: 45px;
    background-color: azure;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;

    /* border */
    -webkit-box-shadow:inset 0px 0px 0px 10px #00000090;
    -moz-box-shadow:inset 0px 0px 0px 10px #00000090;
    box-shadow:inset 0px 0px 0px 10px #00000090;
}
.clock{
    width: 100%;
    color: rgb(51, 51, 51);
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center
}

.h2{
    font-size: 5rem;
    display: flex;
    position: absolute;
}

.color-container{
    width: 100%;
    height: 20%;
    margin-right: 3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.color-container>*{
    cursor: pointer;
}
.color{
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
}
.pink{
    background-color: pink;
}
.blue{
    background-color: lightblue;
}
.green{
    background-color: lightgreen;
}
.gray{
    background-color: gray;
}