body{
    background-color:#2f2c45;
}

.login{
    text-align: center;
    font-size: 30px;
    margin:10px;
    color: #fff;
    top:40%;
    left:52%;
    position: absolute;
    transform: translate(-50%, -50%);
}
.input-container{
    display: inline-block;
    width: 280px;
    margin:30px;
    top:45%;
    left:50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-shadow: 1px 4px 22px -8px rgba(236, 229, 229, 0.267);
   
}

.input-container2{
    display: inline-block;
    width: 280px;
    margin:30px;
    top:55%;
    left:50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-shadow: 1px 4px 22px -8px rgba(236, 229, 229, 0.267);
   
}

.label{
    position: absolute;
    left:10px;
    top:14px;
    transition: all 0.2s;
    padding: 0 2px;
    z-index: 1;
    color: #b3b3b3;
}

.username{
    padding: 0.8rem;
    width: 100%;
    height: 100%;
    border:2px solid #2f2c45;
    background: #272530;
    border-radius: 3px;
    font-size: 18px;
    outline: none;
    transition: all 0.3s;
    color:#fff;
}

.label::before{
    content:"";
    height:5px;
    background: #272530;
    position: absolute;
    left: 0px;
    top:10px;
    width:100%;
    z-index: -1;
}

.username:focus{
    border:2px solid #7e4ccb;
} 

 .username:focus + .label,
.filled{
    top:-10px;
    color: #7e4ccb;
    font-size: 14px;
} 

.username::placeholder{
    font-size: 16px;
    opacity:0;
    transition: all 0.3s;
}
.text-input:focus::placeholder{
    opacity: 1;
}